// main: ../main.scss
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  .info-wrap {
    box-shadow: 0px 0px 20px color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 30px;
    margin-bottom: 30px;
  }

  .info-item {
    i {
      font-size: 20px;
      color: var(--accent-color);
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease-in-out;
      border-radius: 50%;
      border: 1px solid color-mix(in srgb, var(--accent-color), transparent 40%);
      margin-right: 15px;
    }

    h3 {
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 2px 0;
    }

    p {
      padding: 0;
      margin-bottom: 0;
      font-size: 14px;
    }

    &:hover {
      i {
        background: var(--accent-color);
        color: var(--contrast-color);
      }
    }
  }

  .php-email-form {
    box-shadow: 0px 0px 20px color-mix(in srgb, var(--default-color), transparent 90%);
    padding: 30px;

    @media (max-width: 575px) {
      padding: 20px;
    }

    .error-message {
      display: none;
      background: #df1529;
      color: #ffffff;
      text-align: left;
      padding: 15px;
      margin-bottom: 24px;
      font-weight: 600;
    }

    .sent-message {
      display: none;
      color: #ffffff;
      background: #059652;
      text-align: center;
      padding: 15px;
      margin-bottom: 24px;
      font-weight: 600;
    }

    .loading {
      display: none;
      background: var(--background-color);
      text-align: center;
      padding: 15px;
      margin-bottom: 24px;

      &:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid var(--accent-color);
        border-top-color: var(--background-color);
        animation: animate-loading 1s linear infinite;
      }
    }

    input[type=text],
    input[type=email],
    textarea {
      font-size: 14px;
      padding: 10px 15px;
      box-shadow: none;
      border-radius: 0;
      color: var(--default-color);
      background-color: color-mix(in srgb, var(--background-color), transparent 50%);
      border-color: color-mix(in srgb, var(--default-color), transparent 80%);

      &:focus {
        border-color: var(--accent-color);
      }

      &::placeholder {
        color: color-mix(in srgb, var(--default-color), transparent 70%);
      }
    }

    button[type="submit"] {
      color: var(--contrast-color);
      background: var(--accent-color);
      border: 0;
      padding: 10px 30px;
      transition: 0.4s;
      border-radius: 50px;

      &:hover {
        background: color-mix(in srgb, var(--accent-color), transparent 20%);
      }
    }
  }

  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}